.transactions {
    width: 80vw;
    margin: 20px auto 0 auto;
}

.transactions-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transactions-header_block {
    display: flex;
    align-items: center;
}

.app-link-back-to-home-link {
    color: #7c7c7c;
    font-size: 12px;
    margin-right: 10px;
}

.transactions-header_block_widget {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0px 5px 8px;
    width: 120px;
    padding: 5px 0
}

.transactions-header_block_widget-label {
    font-weight: normal;
    font-size: 11px;
    color: gray;
    margin: 0;
}

.transactions-header_block_number {
    font-weight: bold;
    margin: 0;
}